.auth {
    display: inline-block;
}

.auth li {
    display: inline;
}

.auth a {
    /*text-transform: uppercase;*/
    font-weight: bold;
    padding: 14px 10px;
}
/*po div*/
.lang { 
    display: inline-block;
    padding-left: 100px;
}

.lang li {
    display: inline;
}

.lang a {
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px 10px;
}

.menu li {
    display: inline;
}

.menu a {
    font-weight: bold;
    padding: 14px 10px;
}